<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Style in forms.scss -->
    <%= f.text_field :first_name, class: "form-field", placeholder: "First Name" %><br>
    <%= f.text_field :last_name, class: "form-field", placeholder: "Last Name" %><br>
    <%= f.text_field :email, class: "form-field", placeholder: "E-Mail" %><br>
    <%= f.password_field :password, class: "form-field", placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, class: "form-field", placeholder: "Confirm Password" %><br>
    <%= f.submit "Save Profile", class: "form-field btn-save" %>
<% end %>
