<div class="container">
  <h1>Remember</h1>
  <div class="row">
    <%= form_for(@memorial) do |f| %>
    <% if @memorial.errors.any? %>
    <ul>
      <% @memorial.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
    <% end %>
       <div class="field memorial-form-name">
         <%= f.label :first_name %><br>
         <%= f.text_field :first_name, style: "margin-bottom: 10px; width: 200px" %>
       </div><br class="memorial-form-break">
       <div class="field memorial-form-name">
         <%= f.label :last_name %><br>
         <%= f.text_field :last_name, style: "width: 200px" %>
       </div><br>
       <div class="field">
          <%= f.label :dob, "Date of Birth" %><br>
          <%= f.date_select :dob, options = {start_year: 1500}, class: "memorial-form-date" %>
       </div>
       <div class="field">
          <%= f.label :dod, "Date of Passing" %><br>
          <%= f.date_select :dod, options = {start_year: 1500}, class: "memorial-form-date" %>
       </div>
       <div class="field">
          <%= f.label :bio, "Biography"%><br>
          <%= f.text_field :bio, class: "memorial-form-bio" %>
       </div>
       <div class="actions">
         <%= f.submit %>
       </div>
    <% end %>
  </div>
</div>
