<div id="tombstone">
   <div id="tombstone_epitaph">
      <h1 id="tombstone_name"><%= "#{@memorial.first_name} #{@memorial.last_name}" %></h1>
      <h2 id="tombstone_dates" title="<%= "#{@memorial.dob.to_formatted_s(:long_ordinal)} - #{@memorial.dod.to_formatted_s(:long_ordinal)}" %>"><%= "#{@memorial.dob.year} - #{@memorial.dod.year}" %></h2>
   </div>
</div>

<div

<div class="container">
   <div class="row">

      <div class="well col-xs-12 col-sm-6 col-md-4">
         <%= form_for :text, url: texts_path do |f| %>
            <p><%= f.text_area :body %></p><br>
            <p><%= f.hidden_field :memorial_id, value: @memorial.id %></p>
            <p><%= f.submit "Submit" %></p>
         <% end %>
      </div>

      <div class="well col-xs-12 col-sm-6 col-md-4">
         <%= form_for Picture.new do |f| %>
               <p><%= f.file_field :image %></p>
               <p><%= f.hidden_field :memorial_id, value: @memorial.id %></p>
               <p><%= f.submit "Submit" %></p>
         <% end %>
      </div>

      <% @memorial.posts.each do |post| %>
         <div class="well col-xs-12 col-sm-6 col-md-4">
            <% if post.postable_type == "Text" %>
               <%= post.postable.try(:body) %>
            <% elsif post.postable_type == "Picture" %>
               <%= image_tag post.postable.image.url %>
            <% end %>
         </div>
      <% end %>



   </div>
</div>
