<div id="tombstone">
   <div id="tombstone_epitaph">
      <h1 id="tombstone_name"><%= "#{@memorial.first_name} #{@memorial.last_name}" %></h1>
      <h2 id="tombstone_dates" title="<%= "#{@memorial.dob.to_formatted_s(:long_ordinal)} - #{@memorial.dod.to_formatted_s(:long_ordinal)}" %>"><%= "#{@memorial.dob.year} - #{@memorial.dod.year}" %></h2>
   </div>
</div>

<div>
   <%= form_for :text, url: texts_path do |f| %>
      <p><%= f.text_area :body %></p><br>
      <%= f.fields_for :posts do |ff| %>
         <p><%= ff.hidden_field :postable_type, value: "Text" %></p><br>
      <% end %>
      <p><%= f.submit "Submit" %></p>
   <% end %>
</div>
