<!DOCTYPE html>
<html>
<head>
  <title>Remember Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
</head>
<body>

   <% if controller.controller_name == "memorials" && controller.action_name == "show" %>
   <nav class="navbar navbar-default navbar-memorial">
   <% else %>
   <nav class="navbar navbar-default">
   <% end %>
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="<%= root_url %>">Remember Me</a>
       </div>

       <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
             <% if current_user %>
             <ul class="nav navbar-nav">
                <li><a href="<%= root_url %>">Home<span class="sr-only">(current)</span></a></li>
                <li> <%= link_to "Edit Profile", edit_user_path(current_user) %> </li>
                <li> <%= link_to "Log Out", logout_path %> </li>
                <li> <%= link_to "Create Memorial", new_memorial_path %> </li>
                <% if @memorial != nil && @memorial.user == current_user %>
                    <li><%= link_to "Edit Memorial", edit_memorial_path %></li>
                <% end %>
            </ul>
             <% else %>
             <ul class="nav navbar-nav">
               <li> <%= link_to "Sign Up", signup_path %> </li>
               <li> <%= link_to "Log In", login_path %> </li>
            </ul>
            <% end %>
           <%= form_tag memorials_path, method: 'get', class: 'navbar-form navbar-right', role: 'search' do %>
             <div class="form-group">
               <%= text_field_tag :query, params[:query], size: 20, placeholder: "Remember", class: "form-control"%>
             </div>
             <%= submit_tag 'Search', class: 'btn btn-success nav-btn' %>
           <% end %>

       </div>
     </div>
   </nav>


<%= yield %>


</body>
</html>
